html, body, form, fieldset, table, tr, td, img {
    font-family: brandon-grotesque,helvetica,sans-serif;
    font-size: 25px;
}

body {
    background-color: #0db594;
}

header {
    text-align: center;
    color: white;
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

#calculatorContainer {
    background-color: #2e3d3a;
    width: 320px;
    height: 500px;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 5%;
    padding: 20px;
    box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07)
}

#btnContainer {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    text-align: center;
    align-items: normal;
    justify-content: center;
    
}
#screen {
    padding-left: 25px;
    padding-right: 25px;
    height: 20%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 40px;
}

.btn {
    margin: 3px 3px;
    background-color: #32423f;
    color: white;
    border: transparent;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
}

#equals {
    grid-column: span 2;
}



.operator {
    background-color: #1f917b;
}


.active {
    color: #1f917b;
    background-color: white;

}

#clear, #backspace, #sign {
    background-color: #567770;
}

#clear, #backspace, #sign {
    background-color: #567770;
}

#equals {
    background-color: #d8134b;
}

.btn:hover {
    filter: brightness(115%);
}

#toggleMode {
    margin: 15px;
    border: transparent;
}

#toggleContainer {
    text-align: center;
    margin: 20px;
    color: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



/* Light Mode styles */
body.light-mode {
    background-color: #0db594;
}


body.light-mode #calculatorContainer {
    background-color: white;
}

body.light-mode .btn {
    background-color: #f5f5f5;
    color: rgb(31, 31, 31);
}

body.light-mode .operator {
    background-color: #d6f0eb;
}

body.light-mode #screen {
    color: rgb(31, 31, 31);
}

body.light-mode #clear,  body.light-mode #backspace, body.light-mode #sign {
    background-color: #cecece;
}

body.light-mode #equals {
    background-color: #c14462;
}

body.light-mode .btn:hover {
    filter: brightness(95%);
}

body.light-mode .active {
    color: white;
    background-color: #0db594;
}


