html, body, form, fieldset, table, tr, td, img {
    font-family: brandon-grotesque,helvetica,sans-serif;
    font-size: 25px;
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

#calculatorContainer {
    background-color: #2e3d3a;
    width: 320px;
    height: 500px;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 5%;
    padding: 20px;
}

#btnContainer {
    width: 320px;
    height: 400px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    text-align: center;
    align-items: normal;
    justify-content: center;
    
}
#screen {
    padding-left: 25px;
    padding-right: 25px;
    height: 100px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 40px;
}

.btn {
    margin: 3px 3px;
    background-color: #32423f;
    color: white;
    border: transparent;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
}

#equals {
    grid-column: span 2;
}



.operator {
    background-color: #1f917b;
}


.active {
    color: #1f917b;
    background-color: white;

}

#clear, #backspace, #sign {
    background-color: #567770;
}

#clear, #backspace, #sign {
    background-color: #567770;
}

#equals {
    background-color: #ba3858;
}

.btn:hover {
    filter: brightness(115%);
}
